/* Classes */
:root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  
.cmiddle {   /* Centers content vertically */                                      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rmiddle {  /* Centers content horizontally */                                         
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left { /* Pushes content to the left */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.right { /* Pushes content to the right */
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.pushR {
    margin-left: auto;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.gallery-item {
    width: 100%; /* Let the image take up the full width of the grid cell */
    height: auto;
    cursor: pointer;
    padding: 1vw;
}
  
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    justify-content: center;
}
  
.overlay-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.shape {
    position:fixed;
    display: block;
    left: 4vw;
    top: 3vh;
    width: 3vw;
    height: 8vh;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 0.25vh solid   #606C38; /* Adjust thickness as needed */
    background: linear-gradient(150deg, #DDA15E, #DDA15E,#BC6C25);
}

.line {
    width: 40vw;
    border: 0.15vh solid #BC6C25;
}

.long-line {
    width: 80vw;
    border: 0.15vh solid #BC6C25;
}

.wave {
    display: inline-block;
    position: relative;
    transition: all 0.1s ease-out;
}

/*================================*/

.form75 {
    float: left;
    width: 75%;
    margin-top: 4vh;
}

.form25 {
    float: left;
    width: 25%;
    margin-top: 4vh;
}

.form100 {
    float: left;
    width: 100%;
    margin-top: 4vh;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.button {
    background-color: #3498db; /* Initial color */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    animation: colorShift 2s infinite; /* Infinite color shift on hover */
}

/* Website Themes*/

body.dark-theme {
    background-color: #283618;
    color: #FEFAE0;
    display: none;
    footer {
        background-color: #FEFAE0;
        color: #283618;
    }
}

body.light-theme {
    background-color: #FEFAE0;
    color: #283618;
    display: none;
    footer {
        background-color: #283618;
        color: #FEFAE0;
    }
}

.fadein {
    opacity: 0;
    transition: opacity 1s ease-in;
}

/*Dropdown Menu*/
.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 1em;
    color: #FEFAE0;
    justify-content: center;
    left: 5%;
}

.dropDownContent p:hover {
    color: #283618;
}

.dropDown:hover .dropDownContent {
    display: block;
    text-decoration: none;
    background-color:  #BC6C25;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top;
}

.dropDown:visited .dropDownContent {
    color: inherit;
}

.downloadbttn {
    display: block;
    width: 5vw;
    height: 6vw;
    background: linear-gradient(150deg, #DDA15E, #DDA15E,#BC6C25);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

/* Animation */
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg); /* Start rotated upwards */
        opacity: 0; /* Hidden initially */
    }
    70% {
        transform: rotateX(0deg); /* Over-rotate for natural bounce */
        opacity: 0.9; /* Gradually visible */
    }
    100% {
        transform: rotateX(0deg); /* Final position */
        opacity: 1;
    }
}


/* Define keyframes for color shift */
@keyframes colorShift {
    0% {
        background-color: #D4E09B;
    }
    25% {
        background-color: #F6F4D2;
    }
    50% {
        background-color: #CBDFBD;
    }
    75% {
        background-color: #F19C79;
    }
    100% {
        background-color: #A44A3F;
    }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        font-size: 12px;
    }

    nav a {
        font-size: 1.5em;
    }

    #form {
        padding: 5vh 1vw;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 14px;
    }

    nav a {
        font-size: 2em;
    }

    #form {
        padding: 8vh 2vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 15px;
    }

    nav a {
        font-size: 2.2em;
    }

    #form {
        padding: 10vh 4vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 16px;
    }

    nav a {
        font-size: 2.5em;
    }

    #form {
        padding: 12vh 6vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    nav a {
        font-size: 3em;
    }

    #form {
        padding: 15vh 8vw;
    }
}

/* Color Palette 
#283618
#606C38
#FEFAE0
#DDA15E
#BC6C25
*/
